h2 {
    position: relative;
    bottom: auto;
}

.slides > article.past,
.slides > article.next {
    display: none;
}

#welcome-to-spectralsun-s-slides h1 {
    margin-top: 0;
    font-size: 50px;
}

/** Large Applications with Flask**/
#large-applications-with-flask h1 {
    font-size: 1.91em;
    margin-top: 0;
}

/* Simple server slide */
#simple-server .highlight-python {
    border-right: 1px solid #000000;
    display: inline-block;
    font-size: 25px;
    padding-right: 13px;
}

#simple-server .highlight-python pre {
    margin-bottom: 0;
}

#simple-server p:nth-child(5) {
    bottom: 286px;
    position: absolute;
    right: 278px;
}

#simple-server div.highlight-bash:last-child {
    bottom: 103px;
    font-size: 26px;
    position: absolute;
    right: 26px;
}


/*  Structure of a Large App */
#structure-of-a-large-flask-project div.highlight-bash:nth-child(3) {
    border-right: 1px solid #000000;
    display: inline-block;
    padding-bottom: 52px;
    padding-right: 113px;
}

#structure-of-a-large-flask-project p:nth-child(4) {
    position: absolute;
    right: 227px;
    top: 85px;
}
#structure-of-a-large-flask-project div.highlight-bash:last-child {
    position: absolute; 
    right: 86px; 
    top: 100px; 
    font-size: 0.93em;
}