h2 {
    position: relative;
    bottom: auto;
}

.slides > article.past,
.slides > article.next {
    display: none;
}

#welcome-to-spectralsun-s-slides h1 {
    margin-top: 0;
    font-size: 50px;
}


/***********************************/
/** Fifth Sized Flask **/
/***********************************/

/** First slide **/
#fifth-sized-flask h1 {
    margin-top: 0;
}
#fifth-sized-flask .figure {
    margin: 123px;
}
#fifth-sized-flask p:nth-child(3) {
    float: right;
    margin: -37px;
}
#fifth-sized-flask p:nth-child(6) {
    position: absolute;
    bottom: 13px;
}
#fifth-sized-flask p:nth-child(7) {
    position: absolute;
    top: 40px;
    right: 80px;
}
#fifth-sized-flask img {
    position: absolute;
    right: 0;
    bottom: 0;    
    z-index: -1;
}

/* Simple server slide */
#id2 .highlight-python,
#id3 .highlight-python {
    display: inline-block;
    font-size: 25px;
    padding-right: 13px;
}
#id3 .highlight-python {
    border-right: 1px solid #000000;
}
#id2 .highlight-python pre,
#id3 .highlight-python pre {
    margin-bottom: 0;
}

#id3 p:nth-child(5) {
    bottom: 286px;
    position: absolute;
    right: 278px;
}

#id3 div.highlight-bash:last-child {
    bottom: 103px;
    font-size: 26px;
    position: absolute;
    right: 26px;
}


/*  Structure of a Large App */
#structure-of-a-large-flask-project div.highlight-bash:nth-child(3),
#id4 div.highlight-bash:nth-child(3) {
    display: inline-block;
    padding-bottom: 63px;
    padding-right: 54px;
}
#id4 div.highlight-bash:nth-child(3) {
    border-right: 1px solid #000000;
}
#structure-of-a-large-flask-project div.highlight-bash:nth-child(3) pre,
#id4 div.highlight-bash:nth-child(3) pre {
    margin-top: 9px;
    padding: 5px 42px;
}

#id4 p:nth-child(4) {
    position: absolute;
    right: 112px;
    top: 85px;
}
#id4 div.highlight-bash:last-child {
    position: absolute; 
    right: 76px; 
    top: 110px; 
    font-size: 0.94em;
}
#id4 div.highlight-bash:last-child pre {
    padding: 5px 42px;
}

/* Flask-Script: Manage.py */
#flask-script-manage-py pre,
#id5 pre, 
#id6 pre, 
#id7 pre {
    margin: 13px 0;
}

/* Forms */
#forms pre,
#id9 pre,
#id10 pre {
    margin: 15px 0;
}